menu "Project Configuration"
    config WEB_SERVER_PORT
        int "Web server port"
        range 0 65535
        default 80
        help
            Set server port number used by web serer.
    config WEB_SERVER_MAX_CLIENTS
        int "Web server connections"
        default 10
        help
            Maximum allowed web clients connections.
    config WEB_SOCKET_MAX_PENDING_API
        int "Pending number"
        default 20
        help
            Maximum queue length of incoming API requests.
    config WEB_SOCKET_PING_DELAY
        int "Web-socket ping delay"
        default 1000
        help
            Web socket clients ping delay
    config WIFI_AP_DEFAULT_SSID
        string "Default AP name"
        default "TestNet"
        help
            Set default AP ssid.

    config WIFI_AP_DEFAULT_PASS
        string "Default AP password"
        default "12345678"
        help
            Set default AP password.

    config TEST_STRING
            string "test string config parameter"
            default "test str"
            help
                Type something klever or add some other options & properties
                @"Show me the code!!!"

endmenu